:host {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.brand__logo {
  display: block;
  width: auto;
  height: 48px;
}

:host(.brand--large) .brand__logo {
  height: 72px;
}
